@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body,html {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	font-family: 'Space Mono', monospace;
}

div {
	padding: 0;
	margin: 0;
	display: flex;
}

p, h4 {
	margin: 0;
}

#container {
	width: clamp(600px, 60vw, 1000px);
	margin: auto;
	flex-flow: column nowrap;
}

footer {
	position: relative;
	bottom: 0;
	width: clamp(600px, 60vw, 1000px);
}

.header {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-around;
}

.header > div {
	display: block;
}

#logo {
	height: 100%;
	width: auto;
}

.main {
	min-height: 85vh;
	width: 100%;
	display:flex;
	flex-flow: column nowrap;
}

#category-container {
	margin: 2em;
	justify-content:space-evenly;
}

.footer {
	flex-flow: column nowrap;
	justify-content: center;
	min-height: 5vh;
}

.footer p {
	font-size: 1em;
}

#nav {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
	
}

#nav li {
	display: flex;
}

#nav li:not(:last-child)::after {
	content: ':';
	margin-left: 0.3em;
	font-size: 1.3rem;
	color: #555;
}

.top {
	justify-content: space-between;
}

.bottom {
	justify-content: center;
}

.nav {
	list-style-type: none;
	padding: 0;
	font-size: 1.2em;
}

.nav p {
	text-align: left;
}

.nav a {
	font-size: 0.8em;
}

.homemsg {
	margin: 1em;
}



.link {
	text-decoration: none;
	color: #555;
	font-size: 1.3rem;
	transition: all 200ms ease-in-out;
}

.link:hover {
	color: #000;
}

#shop {
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: space-between;
}

#shop > div {
	margin: 30px 10px;
 	flex-flow: column nowrap;
	vertical-align: middle;
}

#shop h3,h4,p {
	text-align: center;
}

.homemsg {
	margin: 2em;
}

.homemsg span {
	margin: 0.5em;
}

.image-container {
	margin: auto;
	width: 15em;
	height: 15em;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: auto;
}

#form,form {
	width: 100%;
}

form {
	flex-flow: column nowrap;
	justify-content:space-around;
}

.contact-form {
	position:relative;
	transition: .5s;
	margin: 1.1em auto;
	width: 80%;
	flex-flow: row nowrap;
	justify-content:space-between;
}

input[type="radio" i] {
	margin-top: 0.54em;
}

input::placeholder {
	color: transparent;
}

.style-input input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	background: transparent;
	margin-top: 0em;
	font-family: 'Space Mono', monospace;
	/* font-size: 1.2em; */
}

textarea {
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	background: transparent;
	font-family: 'Space Mono', monospace;
}

select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
	font-family: 'Space Mono', monospace;
}

select option {
	color: #000;
}

.style-input label {
	position: absolute;
	top:0;
	left: 0;
	pointer-events: none;
	margin-top: 0em;
	transition: 100ms ease-in;
	font-family: 'Space Mono', monospace;
}

.contact-form input:focus ~ label,
.contact-form input:valid ~ label {
	top: -1.1em;
	left: 0;
	/* font-size: 0.75em; */
}

input[type=date]:required:invalid::-webkit-datetime-edit {
	color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
	color: black !important;
}

.error {
	color: red;
}
